<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Recipe Time</title>
  </head>

  <body>
    <h1>Record your Recipes</h1>
    <h2>Your Recipe</h2>

    <p>Recipe Name: </p>
    <p>Ingredients: </p>
    <p>Cooking Time: </p>

  </body>
</html>
